.text {
    position: relative;
    margin: 75px -70px;
    padding: 6px;
    display: grid;
    width: 1000px;
    grid-template-columns: repeat(3,0);
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: radial-gradient(circle, rgba(0,0,0,0.45) 50%, rgba(0,0,0,0) 100%);
    border-radius: 10px;
  }
  .contentShow {
    color: white;
    margin-left: 30px;
    width: 1000px;
    animation: slideNextText 1s ease-in-out forwards alternate;
  }
  
  .titleShow {
    color: white;
    width: 1000px;
    margin: 10px 0 -20px 10px;
    animation: slideNextText 1s ease-in-out forwards alternate;
  }

  .contentHide,.titleHide {
    display: none;
    width: 1000px;
    margin: 10px 0 -20px 10px;
    animation: slideEndText 1s ease-in-out forwards alternate;
  }

  @media (max-width:699px){
    .text{
      font-size: 17px;
      width: 599px;
    }
    .contentHide,.titleHide {
      width: 599px;
    }
    .contentShow {
      width: 599px;
    }
    .titleShow {
      margin: 0px 0px 0px 10px;
    }
  }

  @media (max-width:599px){
    .text{
      font-size: 14px;
      width: 499px;
    }
    .contentHide,.titleHide {
      width: 499px;
    }
    .contentShow {
      width: 499px;
    }
    .titleShow {
      margin: 0px 0px 0px 10px;
    }
  }

  @media (max-width:499px){
    .text{
      font-size: 11px;
      width: 399px;
    }
    .contentHide,.titleHide {
      width: 399px;
    }
    .contentShow {
      width: 399px;
    }
    .titleShow {
      margin: 0px 0px 0px 10px;
    }
  }

  @media (max-width:399px){
    .text{
      font-size: 8px;
      width: 299px;
    }
    .contentHide,.titleHide {
      width: 299px;
    }
    .contentShow {
      width: 299px;
    }
    .titleShow {
      margin: 0px 0px 0px 10px;
    }
  }
  @keyframes slideNextText {
    0% {
        display: inline-block;
        opacity: 0;
        z-index: 0;
        transform: translate(-20%,0);
      }
      25% {
        opacity: 0;
        transform: translate(-20%,0);
      }
      75% {
        opacity: 1;
        transform: translate(0%,0);
        
      }
      100% {
        opacity: 1;
        transform: translate(0%,0);
      }
  }
  
  @keyframes slideEndText {
    0% {
        opacity: 1;
      }
      25% {
        opacity: 1;
      }
      75% {
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
  }
