
.Background {
    position: relative;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, 0);
    height: auto;
    width: auto;
    z-index: 10;
    object-fit: cover;
    
  }
  .bg{
    position: absolute;
    height: 535px;
    width: 900px;
    z-index: 300;
    background: rgb(42,33,30);
    background: radial-gradient(circle, rgba(42,33,30,0.12) 0%, rgba(42,33,30,0.12) 100%);
    border-radius: 6px;
  }
  .Selector {
    position: absolute;
    font-size: xx-large;
    z-index: 30;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  
.img {
  min-width: 900px;
  min-height: 535px;
  max-width: 900px;
  max-height: 535px;
  object-fit: fit;
  border-radius: 8px;
  z-index: 30;
  animation: afterImage 1s ease-in-out forwards ;
}
.thes{
  height: 535px;
  width: 900px;
  border-radius: 8px;
  opacity: 0;
  z-index: 20;
  animation: changeImage 1s ease-in-out backwards ;
}
@media (max-width:899px){
  .thes,.img,.bg {
    height: 420px;
    width: 520px;
    min-width: 520px;
    min-height: 420px;
    max-width: 520px;
    max-height: 420px;
  }
}

@media (max-width:799px){
  .thes,.img,.bg {
    height: 370px;
    width: 470px;
    min-width: 470px;
    min-height: 370px;
    max-width: 470px;
    max-height: 370px;
  }
}
@media (max-width:699px){
  .thes,.img,.bg {
    height: 320px;
    width: 420px;
    min-width: 420px;
    min-height: 320px;
    max-width: 420px;
    max-height: 320px;
  }
}
@media (max-width:599px){
  .thes,.img,.bg {
    height: 270px;
    width: 370px;
    min-width: 370px;
    min-height: 270px;
    max-width: 370px;
    max-height: 270px;
  }
}
@media (max-width:499px){
  .thes,.img,.bg {
    height: 220px;
    width: 320px;
    min-width: 320px;
    min-height: 220px;
    max-width: 320px;
    max-height: 220px;
  }
}
@media (max-width:399px){
  .thes,.img,.bg {
    height: 170px;
    width: 270px;
    min-width: 270px;
    min-height: 170px;
    max-width: 270px;
    max-height: 170px;
  }
}
@keyframes afterImage {
  0% {
      opacity: 0.25;
    }
    25% {
      opacity: 0.25;
    }
    75% {
      opacity: 1;
      
    }
    100% {
      opacity: 1;
    }
}

@keyframes changeImage {
  0% {
      opacity: 0.6;
    }
    25% {
      opacity: 0.6;
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
}
