.BackToolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: -2;
    background: rgb(42,33,30);
    background: linear-gradient(180deg, rgba(42,33,30,0.9699230033810399) 0%, rgba(42,33,30,0.4741246840533089) 51%, rgba(42,33,30,0) 100%);
}