.BackToolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: -2;
    background: linear-gradient(180deg, rgba(11,7,3,0.3) 0%, rgba(43,21,11,0) 30%);
}