.gridContainer {
    padding-top: 45px;
    padding-left: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 50px;
}