.wrapper {
  display:grid;
  
  margin-top: 20px;
  grid-template-columns: repeat(9, 35px) ;
  border-radius: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wrapper input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.dot {
  cursor: pointer;
  
  position: absolute;
  display: block;
  margin-left: 10px;
  width: 13px;
  height: 13px;
  border: 1.4px solid hsl(0, 0%, 70%);
  border-radius: 100%;

}

@media(max-width:499px){
  .dot{
    width: 8px;
    height: 8px;
  }
  .wrapper{
    margin-top: 10px;
    background: 0;
  }
}

.dot::before,
.dot::after {
  content: "";
  display: block;

  width: inherit;
  height: inherit;

  border-radius: inherit;
  position: absolute;

  transform: scale(0);
  transform-origin: center center;
}

.dot:before {
  background: hsl(28, 22%, 90%);
  opacity: 0;
  transition: .3s;
}

.dot::after {
  background: hsl(28, 22%, 90%);
  opacity: .4;
  transition: .6s;
}
/* checked state */
input:checked+.dot::before {
  opacity: 1;
  transform: scale(1.5);
}


/* other states */
input:hover+.dot,
input:focus+.dot {
  border: 2px solid rgb(65, 76, 196);
}

input:hover+.dot:before,
input:focus+.dot:before {
  background: rgb(65, 76, 196);
}

input:focus+.dot::after,
input:active+.dot::after {
  opacity: .1;
  transform: scale(1.6);
}
