@import url('https://fonts.googleapis.com/css2?family=Cantata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500&display=swap'); /* Libre Franklin */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap'); /* Dosis */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap'); /* Barlow */

body {
  margin: 0;
  font-family: "Montserrat", sans-serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
